@use "../../Styles/mixins" as *;

.spline {
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%) scale(0.2);
  z-index: 5;
  @include tablet {
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%) scale(0.5);
  }
  @include desktop {
    top: 50%;
    // left: 80%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.landing {
  height: 100vh;
  display: flex;
  @include flex-layout(column, center, center);
  padding: 1rem 5rem 1rem 1rem;
  background: black;
  color: white;

  @include tablet {
    padding: 5rem;
    @include flex-layout(column, center, flex-start);
  }

  &__title {
    font-size: 2rem;
    max-width: 10rem;
    @include tablet {
      font-size: 8rem;
    }

    @include desktop {
      max-width: unset;
    }
  }

  &__text {
    font-size: 0.5rem;
    @include tablet {
      margin-left: 0.5rem;
      font-size: 1rem;
    }
  }
}
